.right-content__chat__box__userdate{"data-message-id": "#{message.id}"}
  .right-content__chat__box__userdate__info
    = message.user.name
    .right-content__chat__box__userdate__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
.right-content__chat__box__message
  - if message.content.present?
    %p.right-content__chat__box__message__content
      = message.content
  = image_tag message.image.url, class: 'right-content__chat__box__message__image' if message.image.present?