= render "devise/shared/side_bar"
.right-content
  .right-content__header
    .right-content__header__groupmember
      .right-content__header__groupmember__group
        = @group.name
      .right-content__header__groupmember__member
        %ul member :
        .right-content__header__groupmember__member__name
          %li
          - @group.members.each do |member|
            = member.user.name
    .right-content__header__editbtn
      = link_to 'edit', edit_group_path(@group.id), class: "btn"
  .message
    .right-content__chat__box
      = render @messages
  .right-content__form
    = form_for [@group, @message] do |f|
      .right-content__form__inputbox
        = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
        = f.label :image, class: 'upload-label' do
          = fa_icon 'picture-o', class: 'img'
          = f.file_field :image, class: 'right-content__form__inputbox__file'
      = f.submit 'Send', class: 'right-content__form__sendbtn'