.left-content
  .left-content__header
    .left-content__header__box
      .left-content__header__box__name
        user
      .left-content__header__box__icon
        %i.fa.fa-edit
        %i.fa.fa-cog
  .left-content__groups
    .left-content__groups__group__name
      groupname
    .left-content__groups__group__subtext
      message
.right-content
  .right-content__header
    .right-content__header__groupmember
      .right-content__header__groupmember__group
        group
      .right-content__header__groupmember__member
        %ul member :
        .right-content__header__groupmember__member__name
          %li name
    .right-content__header__editbtn
      edit
  .message
    = render @messages
  .right-content__form
    = form_for [@group, @message] do |f|
      .right-content__form__inputbox
        = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
        = f.label :image, class: 'upload-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'right-content__form__inputbox__file'
      = f.submit 'Send', class: 'right-content__form__sendbtn'
      
        
        
  
      
         
      
      
    
    
      